cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.0.3
numpy==1.18.4
pyparsing==2.4.7
Flask==1.1.2
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
click==7.1.2
itsdangerous==1.1.0
Flask-Cors==3.0.8
aniso8601==8.0.0
flask-restful==0.3.8
pytz==2020.1
pandas==0.24.2
lxml==4.5.0
pandas-datareader==0.8.1
nltk==3.4.5
preprocessing==0.1.13
sphinx-rtd-theme==0.2.4
multitasking==0.0.9
yfinance==0.1.54
wheel==0.34.2
